body {
  background-color: #7b8878;
  color: #dddddd;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%;
  font-color: black;
  
}

.exp-header {
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.1);
  font-family: 	Times New Roman, Helvetica, sans-serif;
    
}

h1 {
  font-size: 45px;
  font-family: 	Times New Roman, Helvetica, sans-serif;
}
h2 {
  font-size: 15px;
}

h4 {
  font-size: 20px;
  font-family: 	Times New Roman, Helvetica, sans-serif;
}

img {
  width: 15%;
}
